@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: black;
	color: white;
	font-family: "Poppins", sans-serif;
	/* overflow-y: scroll; */
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-thumb {
	background-color: gray;
}

.container {
	width: 80%;
	max-width: 1000px;
	margin: 100px auto auto;
	padding: 0 25px;
}

/* Navigation */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: fixed;
	top: 0;
	padding: 0 1rem;
	z-index: 99999;
	background-color: black;
	padding-top: 4px;
}

.nav-header {
	margin: 0 auto 0 20px;
	display: flex;
	flex-direction: column;
}

.trends-header {
	line-height: 0.95;
	font-size: 15px;
	font-weight: 600;
}

.trends-subtext {
	font-size: 11px;
}

.logo {
	padding-top: 3px;
	width: 35px;
}

.nav-list {
	display: flex;
	/* padding-top: 3px; */
}

.list-items + .list-items {
	margin-left: 1.5rem;
}

.list-items {
	list-style-type: none;
	/* padding: 9px 0; */
}

.list-items a {
	text-decoration: none;
	color: rgb(179, 179, 179);
	font-size: 13px;
}

.list-items a:hover {
	color: rgb(238, 232, 232);
}

span {
	margin-left: 7.8px;
	font-weight: 500;
}

.start-coding {
	background-image: linear-gradient(160deg, #33a9dc, #4c83ff);
	padding: 0.46rem 0.9rem;
	border-radius: 2px;
}

.start-coding span {
	font-weight: 600;
}

.nav-login span:hover,
.start-coding span:hover,
.zoom-img:hover {
	color: rgb(179, 179, 179);
}

.start-coding span,
.nav-login span {
	color: white;
}

.nav-login {
	border: 1px solid rgba(255, 255, 255, 0.308);
	padding: 0.6rem 1rem;
	border-radius: 3px;
	font-family: sans-serif;
}

.zoom {
	border: 1px solid rgba(255, 255, 255, 0.308);
	padding: 0.5rem 0.9rem;
	border-radius: 3px;
}

.zoom-img {
	vertical-align: middle;
	width: 17px;
}

.start img {
	vertical-align: middle;
}

/* main section */
.new-container {
	/* padding: 10px 50px; */
	margin: 0 auto;
	margin-top: 65px;
	width: 90%;
}

.scroll {
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 100%; */
	padding: 7px;
	background-color: rgba(102, 101, 101, 0.308);
	margin-bottom: 1.5rem;
}

.left-arrow {
	padding: 9px 11px;
	background-color: rgba(102, 101, 101, 0.171);
	outline: none;
	border-radius: 1.7px;
}

.left-arrow img {
	vertical-align: middle;
}

.right-arrow {
	padding: 9px 11px;
	background-color: rgba(128, 128, 128, 0.356);
	outline: none;
	border-radius: 1.7px;
}

.right-arrow img {
	vertical-align: middle;
}

.number {
	border-radius: 1.7px;
	padding: 9px 20px;
	background-color: rgba(102, 101, 101, 0.171);
	outline: none;
}

/* card styles */

section {
	/* width: 1400px;
	margin: 0 auto; */
}

.row-1,
.row-2 {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

a {
	text-decoration: none;
	color: white;
	font-size: 0.8rem;
	font-weight: 500;
}

.card-container {
	border: 2px solid red;
	border-radius: 3px;
	width: 20rem;
	height: 22rem;
	position: relative;
	background-color: rgba(92, 91, 91, 0.582);
}

.card-container img {
	width: 100%;
	border-radius: 10px;
	padding: 1.2rem 1.2rem 0 1.2rem;
}

.img-txt {
	display: flex;
	margin-top: 12px;
}

.img {
	/* margin-right: 10px; */
	height: 50px;
}

.username {
	width: 100%;
}

.about {
	font-size: 1.1rem;
}

.about-p {
	color: rgb(170, 169, 169);
}

.code {
	font-weight: 600;
	font-size: 11px;
	padding: 0 2px;
	background-color: #4bb2db;
	width: 2.5rem;
	text-align: center;
	border-radius: 3px;
}

.bottom {
	display: flex;
	width: 100%;
	padding: 1rem;
	background-color: #4c83ff;
}

.bottom-items {
	display: flex;
	width: 100%;
	padding: 1rem;
	background-color: #4c83ff;
}

/* footer styles */
footer {
	background-color: rgba(102, 101, 101, 0.308);
	padding: 3rem 0 3.5rem 0;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 70%;
	/* padding: 3rem 0; */
}

.footer-items {
	display: flex;
	flex-direction: column;
}

.footer-link-icons {
	display: flex;
	margin-top: 0.3rem;
	padding-right: 5px;
}

.footer-link-icons img + img {
	padding-left: 1.2rem;
}

.footer-links p {
	font-weight: 700;
	color: grey;
	margin-bottom: 0.8rem;
}

.footer-links li {
	list-style-type: none;
}

.footer-links li {
	margin-top: 0.45rem;
}

.footer-links a {
	text-decoration: none;
	color: white;
	font-size: 0.85rem;
}

.footer-contact p {
	margin-bottom: 0.8rem;
}

/* media query for mobile */

@media (max-width: 575px) {
	.trends,
	.latest,
	.featured,
	nav span {
		display: none;
	}

	header {
		padding: 5px 0;
	}

	.nav-login {
		padding: 0.55rem 1rem;
	}

	.nav-login img {
		vertical-align: middle;
	}

	.zoom {
		padding: 0.45rem 0.8rem;
	}

	.container {
		width: 100%;
		padding: 1.8rem;
		margin: 0 auto auto;
	}

	footer {
		padding: 0;
		margin-top: 3.5rem;
	}

	.footer-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 3.2rem;
		margin: 0;
	}

	.footer-link-icons {
		display: none;
	}

	.footer-div + .footer-div {
		margin-top: 1.5rem;
	}

	.footer-links li {
		margin-top: 0.4rem;
	}
}
